<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!-- Font Awsome for Icons - https://fontawesome.com/v5.15/icons -->
        <script src="https://kit.fontawesome.com/8be6eda63e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h1>
               Sentient Analyzer
            </h1>
        </header>

        <main>
            <p>Enter URL to Analyze.</p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <span title="Enter your URL here :)"><input id="url" type="text" name="input" value="" placeholder="URL goes here"></span>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="model"></div>
                <div id="scoreTag"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>             
            </section>
        </main>

        <footer>
            <nav class="footernav">
                <ul>
                    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-hacker-news"></i></a></li>
                    <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
                </ul>
                <ul>
                    <li><a href="#"><i>Home</i></a></li>
                    <li><a href="#"><i>Services</i></a></li>
                    <li><a href="#"><i">About</i></a></li>
                    <li><a href="#"><i">Privacy Policy</i></a></li>
                </ul>
            </nav>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
