$hovercolor: rgb(45, 228, 21);
$font_stack: Roboto, sans-serif;
$anchorcolor: #000;
$backcolor: rgba(230, 230, 230, 0.8);

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: center / cover no-repeat url(../img/background.jpg) fixed;
}

main {
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font: 200 1rem $font_stack;
    background: $backcolor;
    border-radius: 10px;
}

p {
    margin: 2rem;
}

section {
    max-width: 800px;
    margin: 2rem auto;
}

a:link,
a:visited {
    color: $anchorcolor;
    
}

a:hover {
    color: $hovercolor;
}