$shadowcolor: rgb(108, 108, 109);
$fontcolor: rgb(157, 173, 13);

header {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

h1 {
    font: 800 2.5rem "Roboto Slab", serif;
    text-shadow: 2px 2px 1px $shadowcolor,
                 3px 3px 1px $shadowcolor;
    color: $fontcolor;
}